#footer{
    display: flex;
 flex-direction: column;
 
}

#infotitle1{
    display: flex;
    align-items: center;
}
#info1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 50px;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(160, 223, 83);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: justify;
}

.i1InputContainer>input{
    width: 300px;
    height: 30px;
    padding: 10px;
    border: none;
    margin-right: 10px;

    border-radius: 5px;
}

.InputContainer>button{
    height: 50px;
    background-color:rgb(167, 91, 238);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#main{
    display: flex;
   flex-direction: row;
    width: 100%;
}
.fText{
    text-align: center;
    
    padding: 20px;
    font-weight: bold;
}

#iphonenumbers{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon{
    padding: 7px;
    font-size: 33px;
}