.sList {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sListItem {
  flex: 1;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.sListImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.sListTitle > h1 {
  min-height: 6rem;
  text-align: center;
  font-size:  2.3rem;
}
.sListTitle > h1::first-letter {
  text-transform: capitalize;
}

.sListTitle > h2 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}
