.navbar{
    height: 60px;
    background-color: rgb(162, 215, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer{
    /* width: 100%; */
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    
}

.logo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    padding: 5px;
    background-color: rgb(160, 223, 83);
    border-radius: 8px;
    border: 3px solid rgb(160, 223, 83);;
   
    margin: 5px;
    justify-content: center;

}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(162, 215, 207);

}